<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="Conexao" connectionString="metadata=res://*/Entities.Repositorio.csdl|res://*/Entities.Repositorio.ssdl|res://*/Entities.Repositorio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GUILHERME-PC\SQLEXPRESS;initial catalog=DB_AGENDA;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/Pages/Login.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
</configuration>
